---

- name: Install Nginx
  apt:
    name: nginx
    state: latest

- name: Save origin Nginx config
  command:
    cmd: mv -fv /etc/nginx/nginx.conf /etc/nginx/nginx.conf-origin
    creates: /etc/nginx/nginx.conf-origin

- name: Copy Nginx config
  template:
    src: "nginx.{{ nginx_mode }}.conf"
    dest: "/etc/nginx/nginx.conf"
  notify: Restart Nginx

- name: Create /etc/nginx/sites-available
  file:
    path: "/etc/nginx/sites-available"
    state: directory

- name: Create /etc/nginx/sites-enabled
  file:
    path: "/etc/nginx/sites-enabled"
    state: directory

- name: Clean /etc/nginx/sites-enabled
  file:
    path: "/etc/nginx/sites-enabled/default"
    state: absent

- name: Clean /etc/nginx/conf.d
  file:
    path: "/etc/nginx/conf.d"
    state: absent

- name: Clean /var/www
  file:
    path: "/var/www/html"
    state: absent

- name: Restart Nginx once per day
  cron:
    minute: 0
    hour: 0
    name: "Restart Nginx once per day"
    user: "root"
    job: "systemctl restart nginx.service"
