---

- hosts:        web_server
  become:       yes
  become_user:  root
  gather_facts: no
  pre_tasks:
    - name:         Install aptitude for Ansible
      raw:          test -e aptitude || (apt -y update && apt -y install aptitude)
      changed_when: no

    - name:  Setup and gather facts
      setup:
  roles:
    - packages
    - server
    - webuser
    - oh_my_zsh
    - nginx
    - { role: php, php_version: "7.4" }
    - { role: php, php_version: "8.0" }
    - { role: php, php_version: "8.1" }
    - { role: php, php_version: "8.2" }
    - { role: php, php_version: "8.3" }
    - { role: php, php_version: "8.4" }
    # - { role: php, php_version: "8.5" }
    - { role: php_default, php_default_version: "8.1" }
    - composer
    - symfony_cli
    - postgresql
    - mariadb
