/.vagrant
/.vault_password
/playbooks/*.retry
/*.log

/inventories/group_vars/web_server/secret.yml
/inventories/production.yml

/roles/corpsee_site/files/*.sql
/roles/corpsee_site/files/www/*
!/roles/corpsee_site/files/www/.gitkeep

/roles/php_censor/files/*.sql
/roles/php_censor/files/periodical.yml

/roles/php_censor_release/files/periodical.yml
