/.vagrant
/.vault_password
/playbooks/*/*.retry
/*.log

/inventories/group_vars/web_server/secret.yml
/inventories/production.yml

/roles/webuser/files/*
!/roles/webuser/files/.gitkeep

/roles/corpsee_site/files/*
!/roles/corpsee_site/files/.gitkeep

/roles/corpsee_site_release/files/*
!/roles/corpsee_site_release/files/.gitkeep

/roles/corpsee_site_symfony/files/*
!/roles/corpsee_site_symfony/files/.gitkeep

/roles/corpsee_site_symfony_release/files/*
!/roles/corpsee_site_symfony_release/files/.gitkeep

/roles/php_censor/files/*
!/roles/php_censor/files/.gitkeep

/roles/php_censor_release/files/*
!/roles/php_censor_release/files/.gitkeep

/roles/server/files/*
!/roles/server/files/.gitkeep
