---

- name: Create new user directories ('XDG_')
  file:
    path: "{{ item }}"
    state: directory
  become:      yes
  become_user: "{{ desktop_user }}"
  loop:
    - "/home/{{ desktop_user }}/Desktop"
    - "/home/{{ desktop_user }}/Downloads"
    - "/home/{{ desktop_user }}/Templates"
    - "/home/{{ desktop_user }}/Public"
    - "/home/{{ desktop_user }}/Documents"
    - "/home/{{ desktop_user }}/Music"
    - "/home/{{ desktop_user }}/Pictures"
    - "/home/{{ desktop_user }}/Videos"

    - "/home/{{ desktop_user }}/Projects"
    - "/home/{{ desktop_user }}/Programs"

- name: Set 'user-dirs.dirs' config for user
  template:
    src: "user-dirs.dirs"
    dest: "/home/{{ desktop_user }}/.config/user-dirs.dirs"
  become:      yes
  become_user: "{{ desktop_user }}"

- name: Update user directorues ('XDG_')
  command:
    cmd: "xdg-user-dirs-update"
  become:      yes
  become_user: "{{ desktop_user }}"

- name:          Move user directories content to new user directories ('XDG_')
  shell:         "[ -z \"$(ls \"/home/{{ desktop_user }}/{{ item.from }}\")\" ] || mv --no-target-directory \"/home/{{ desktop_user }}/{{ item.from }}\" \"/home/{{ desktop_user }}/{{ item.to }}\""
  become:        yes
  become_user:   "{{ desktop_user }}"
  loop:
    - from: "Рабочий стол"
      to:   "Desktop"
    - from: "Загрузки"
      to:   "Downloads"
    - from: "Шаблоны"
      to:   "Templates"
    - from: "Общедоступные"
      to:   "Public"
    - from: "Документы"
      to:   "Documents"
    - from: "Музыка"
      to:   "Music"
    - from: "Изображения"
      to:   "Pictures"
    - from: "Видео"
      to:   "Videos"

- name: Delete old user directories ('XDG_')
  file:
    path: "{{ item }}"
    state: absent
  become:      yes
  become_user: "{{ desktop_user }}"
  loop:
    - "/home/{{ desktop_user }}/Рабочий стол"
    - "/home/{{ desktop_user }}/Загрузки"
    - "/home/{{ desktop_user }}/Шаблоны"
    - "/home/{{ desktop_user }}/Общедоступные"
    - "/home/{{ desktop_user }}/Документы"
    - "/home/{{ desktop_user }}/Музыка"
    - "/home/{{ desktop_user }}/Изображения"
    - "/home/{{ desktop_user }}/Видео"

- name: Fix GTK bookmarks
  template:
    src: bookmarks
    dest: "/home/{{ desktop_user }}/.config/gtk-3.0/bookmarks"
  become:      yes
  become_user: "{{ desktop_user }}"
