---

### references

user_reference:                &user_reference        "web"
group_reference:               &group_reference       "www-data"
mode_reference:                &mode_reference        "production"
timezone_reference:            &timezone_reference    "UTC"
php_version_reference:         &php_version_reference "8.1"
php_default_version_reference: &php_default_version_reference "8.1"


### server role

server_mode:     *mode_reference
server_hostname: corpsee
server_domain:   corpsee.com

server_timezone: *timezone_reference

server_locales:
  - en_US.UTF-8
  - ru_RU.UTF-8

server_default_local: en_US.UTF-8

# server_openssh_port: in secret.yml

server_certs_copy_enabled: no


### packages role

packages_ppa: []

packages_repositories: []

packages_items_to_install:
  - acl
  - net-tools
  - aptitude
  - apt-transport-https
  - ca-certificates
  - software-properties-common
  - sendmail
  - screen
  - logrotate
  - traceroute
  - resolvconf
  - curl
  - wget
  - jq
  - mc
  - htop
  - git
  - zsh
  - tmux
  - pv
  - ncdu
  - xz-utils
  - p7zip-full
  - python3-passlib # For ansible

packages_items_to_remove: []

packages_snap_items_to_install: []

packages_flatpak_items_to_install: []

packages_pipx_items_to_install: []


### webuser role

webuser_user:         *user_reference
# webuser_password: in secret.yml
webuser_group:        *group_reference
webuser_groups:       []
webuser_ssh_key_name: web_server_local


### oh-my-zsh role

oh_my_zsh_user:  *user_reference
oh_my_zsh_group: *group_reference


### nginx role

nginx_mode:  *mode_reference
nginx_user:  *user_reference
nginx_group: *group_reference


### php role

php_mode:            *mode_reference
php_timezone:        *timezone_reference
php_version:         *php_version_reference
php_memory:          256M
php_fpm_user:        *user_reference
php_fpm_group:       *group_reference

php_packages:
  - bcmath
  - mbstring
  - curl
  - gd
  - imagick
  - xml
  - zip
  - intl
  - sqlite3
  - xdebug
  - soap
  - imap
  - pgsql
  - mysql
  - redis
  - amqp
  - memcache
  - memcached
  - ldap


### php_default role

php_default_version: *php_default_version_reference


### composer role

composer_path: /usr/local/bin/composer


### symfony_cli role

symfony_cli_path: /usr/local/bin/symfony


### postgresql role

postgresql_version:  14
postgresql_timezone: *timezone_reference
