[Unit]
Description="PHPCensor Worker"
After=network.target

[Service]
Type=simple
ExecStart=/var/www/{{ php_censor_hostname }}/current/bin/console php-censor:worker -v --periodical-work
Restart=always

User={{ php_censor_user }}

[Install]
WantedBy=multi-user.target
