[Unit]
Description="PHPCensor Worker (With Periodical Work) (Instance %i)"
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/php{{ php_censor_php_version }} /var/www/{{ php_censor_dir_name }}/current/bin/console php-censor:worker -v --periodical-work
Restart=always

User={{ php_censor_user }}

[Install]
WantedBy=multi-user.target
