---

- name: Install RabbitMq
  apt:
    name: rabbitmq-server
    state: latest

# Web: http://<host>:15672
- name: Install RabbitMq Managment Plugin
  command:
    cmd: "rabbitmq-plugins enable rabbitmq_management"
