---

- name: Change postgres user password
  postgresql_user:
    name: "postgres"
    password: "postgres"
    encrypted: yes
  become:      yes
  become_user: postgres

- name: Added auth info to .pgpass config
  lineinfile:
    path: "/home/{{ postgresql_desktop_user }}/.pgpass"
    owner: "{{ postgresql_desktop_user }}"
    group: "{{ postgresql_desktop_group }}"
    mode: 0600
    create: yes
    line: "127.0.0.1:5432:*:postgres:postgres"
    insertbefore: BOF
