---

- name: "Fix 'ansible_distribution_release' fact for Linux Mint 22"
  set_fact:
    ansible_distribution_release: noble
  when:
    - ansible_distribution_release == "wilma"

- name: "Fix 'ansible_distribution_release' fact for Linux Mint 22.1"
  set_fact:
    ansible_distribution_release: noble
  when:
    - ansible_distribution_release == "xia"

- name: "Fix 'ansible_distribution_release' fact for Linux Mint 22.2"
  set_fact:
    ansible_distribution_release: noble
  when:
    - ansible_distribution_release == "zara"

- name: "Fix 'ansible_distribution_release' fact for Linux Mint 22.3"
  set_fact:
    ansible_distribution_release: noble
  when:
    - ansible_distribution_release == "zena"
