---

packages_ppa: []

packages_repositories: []

packages_items_to_install:
  - acl
  - net-tools
  - aptitude
  - apt-transport-https
  - ca-certificates
  - software-properties-common
  - sendmail
  - screen
  - logrotate
  - traceroute
  - resolvconf
  - curl
  - wget
  - jq
  - mc
  - htop
  - git
  - zsh
  - pv
  - ncdu

packages_items_to_remove: []

packages_snap_items_to_install: []

packages_flatpak_items_to_install: []

packages_pipx_items_to_install: []
