---

- name: Check Composer
  stat:
    path: "{{ composer_path }}"
  register: composer_bin

- name: Download Composer installer
  get_url:
    url:  https://getcomposer.org/installer
    dest: /tmp/composer-installer.php
    mode: 0755
  when: not composer_bin.stat.exists

- name:    Run Composer installer
  command:
    cmd: "php -d memory_limit=-1 composer-installer.php"
    chdir: /tmp
    creates: "{{ composer_path }}"

- name:    Move Composer to global path
  command:
    cmd: "mv /tmp/composer.phar {{ composer_path }}"
    creates: "{{ composer_path }}"
