---

- name: Update the hostname
  hostname:
    name: "{{ server_hostname }}"

- name: Update the hostname (/etc/hostname)
  copy:
    content: "{{ server_hostname }}\n"
    dest:    /etc/hostname
    owner:   root
    group:   root
    mode:    0644

- name: Update the IPv4 hostname (/etc/hosts)
  lineinfile:
    dest:   /etc/hosts
    regexp: "^127.0.0.1"
    line:   "127.0.0.1 {{ server_domain }} {% if server_domain != server_hostname %}{{ server_hostname }}{% endif %} localhost"
    state:  present

- name: Update the IPv6 hostname (/etc/hosts)
  lineinfile:
    dest:   /etc/hosts
    regexp: "^::1"
    line:   "::1 {{ server_domain }} {% if server_domain != server_hostname %}{{ server_hostname }}{% endif %} localhost ip6-localhost ip6-loopback"
    state:  present
