[client]
user=root
password={{ mariadb_root_password }}

[mysql]
user=root
password={{ mariadb_root_password }}

[mysqldump]
user=root
password={{ mariadb_root_password }}

[mysqldiff]
user=root
password={{ mariadb_root_password }}
