---

### references

user_reference:                &user_reference        "web"
group_reference:               &group_reference       "www-data"
mode_reference:                &mode_reference        "production"
timezone_reference:            &timezone_reference    "UTC"
php_version_reference:         &php_version_reference "8.1"
php_default_version_reference: &php_default_version_reference "8.1"


### server role

server_mode:     *mode_reference
server_hostname: corpsee
server_domain:   corpsee.com

server_timezone: *timezone_reference

server_locales:
  - en_US.UTF-8
  - ru_RU.UTF-8

server_default_local: en_US.UTF-8

# server_openssh_port: in secret.yml

server_certs_copy_enabled: yes


### packages role

packages_ppa: []

packages_repositories: []

packages_items_to_install:
  - acl
  - net-tools
  - aptitude
  - apt-transport-https
  - ca-certificates
  - software-properties-common
  - sendmail
  - screen
  - logrotate
  - traceroute
  - resolvconf
  - curl
  - wget
  - jq
  - mc
  - htop
  - git
  - zsh
  - tmux
  - pv
  - ncdu
  - xz-utils
  - p7zip-full
  - python3-passlib # For ansible

packages_items_to_remove: []

packages_snap_items_to_install:
  - certbot

packages_flatpak_items_to_install: []

packages_pipx_items_to_install: []


### webuser role

webuser_user:         *user_reference
# webuser_password: in secret.yml
webuser_group:        *group_reference
webuser_groups:       []
webuser_ssh_key_name: web_server


### oh-my-zsh role

oh_my_zsh_user:  *user_reference
oh_my_zsh_group: *group_reference


### nginx role

nginx_mode:  *mode_reference
nginx_user:  *user_reference
nginx_group: *group_reference


### php role

php_mode:            *mode_reference
php_timezone:        *timezone_reference
php_version:         *php_version_reference
php_memory:          256M
php_fpm_user:        *user_reference
php_fpm_group:       *group_reference

php_packages:
  - bcmath
  - mbstring
  - curl
  - gd
  - imagick
  - xml
  - zip
  - intl
  - sqlite3
  - xdebug
  - soap
  - imap
  - pgsql
  - mysql
  - redis
  - amqp
  - memcache
  - memcached
  - ldap

### php_default role

php_default_version: *php_default_version_reference


### composer role

composer_path: /usr/local/bin/composer


### symfony_cli role

symfony_cli_path: /usr/local/bin/symfony


### postgresql role

postgresql_version:  14
postgresql_timezone: *timezone_reference


### mariadb role

mariadb_version:  "10.11" # 10.11 - LTS version to 16 feb 2028. See: https://endoflife.date/mariadb
# mariadb_root_password: in secret.yml
mariadb_timezone: *timezone_reference


### php_censor role

php_censor_mode:                       *mode_reference
php_censor_workers_periodical_count:   1
php_censor_workers_count:              2
php_censor_php_version:                *php_version_reference
php_censor_user:                       *user_reference
php_censor_group:                      *group_reference
php_censor_localhost_user:             corpsee
php_censor_db_name:                    php_censor
php_censor_db_user:                    php_censor
# php_censor_db_password:  in secret.yml
php_censor_db_dump_filename:           php_censor
php_censor_artifacts_dir_filename:     artifacts.tar.gz
php_censor_queue_name:                 php_censor
php_censor_hostname:                   ci.php-censor.info
php_censor_dir_name:                   php_censor
php_censor_url:                        '//ci.php-censor.info'
php_censor_from_email:                 'PHP Censor CI <mail@php-censor.info>'
# php_censor_smtp_address:    in secret.yml
# php_censor_smtp_port:       in secret.yml
# php_censor_smtp_username:   in secret.yml
# php_censor_smtp_password:   in secret.yml
# php_censor_smtp_encryption: in secret.yml
php_censor_version:                    "rolling-release"
php_censor_periodical_config_filename: periodical.yml
# php_censor_github_token: in secret.yml
php_censor_cert_pem_path:              '/etc/letsencrypt/live/ci.php-censor.info/fullchain.pem'
php_censor_cert_pem_key_path:          '/etc/letsencrypt/live/ci.php-censor.info/privkey.pem'

php_censor_mode_test:                       *mode_reference
php_censor_workers_periodical_count_test:   1
php_censor_workers_count_test:              2
php_censor_php_version_test:                *php_version_reference
php_censor_user_test:                       *user_reference
php_censor_group_test:                      *group_reference
php_censor_localhost_user_test:             corpsee
php_censor_db_name_test:                    php_censor_test
php_censor_db_user_test:                    php_censor_test
# php_censor_db_password_test: in secret.yml
php_censor_db_dump_filename_test:           php_censor_test
php_censor_artifacts_dir_filename_test:     artifacts_test.tar.gz
php_censor_queue_name_test:                 php_censor_test
php_censor_hostname_test:                   ci-test.php-censor.info
php_censor_dir_name_test:                   php_censor_test
php_censor_url_test:                        '//ci-test.php-censor.info'
php_censor_from_email_test:                 'PHP Censor CI (Test) <mail@php-censor.info>'
# php_censor_smtp_address_test:    in secret.yml
# php_censor_smtp_port_test:       in secret.yml
# php_censor_smtp_username_test:   in secret.yml
# php_censor_smtp_password_test:   in secret.yml
# php_censor_smtp_encryption_test: in secret.yml
php_censor_version_test:                    "rolling-release"
php_censor_periodical_config_filename_test: periodical_test.yml
# php_censor_github_token_test: in secret.yml
php_censor_cert_pem_path_test:              '/etc/letsencrypt/live/ci-test.php-censor.info/fullchain.pem'
php_censor_cert_pem_key_path_test:          '/etc/letsencrypt/live/ci-test.php-censor.info/privkey.pem'


### php_censor_testdb

php_censor_testdb_user:                        *user_reference
php_censor_testdb_group:                       *group_reference
php_censor_testdb_postgres_db_name:            php_censor_testdb
php_censor_testdb_postgres_db_user:            php_censor_testdb
# php_censor_testdb_postgres_db_password: in secret.yml
php_censor_testdb_postgres_create_script_name: create_test_ci_postgres_db
php_censor_testdb_postgres_drop_script_name:   drop_test_ci_postgres_db
php_censor_testdb_mysql_db_name:               php_censor_testdb
php_censor_testdb_mysql_db_user:               php_censor_testdb
# php_censor_testdb_mysql_db_password: in secret.yml
php_censor_testdb_mysql_create_script_name:    create_test_ci_mysql_db
php_censor_testdb_mysql_drop_script_name:      drop_test_ci_mysql_db

php_censor_testdb_user_test:                        *user_reference
php_censor_testdb_group_test:                       *group_reference
php_censor_testdb_postgres_db_name_test:            php_censor_test_testdb
php_censor_testdb_postgres_db_user_test:            php_censor_test_testdb
# php_censor_testdb_postgres_db_password_test: in secret.yml
php_censor_testdb_postgres_create_script_name_test: create_test_ci_postgres_db_test
php_censor_testdb_postgres_drop_script_name_test:   drop_test_ci_postgres_db_test
php_censor_testdb_mysql_db_name_test:               php_censor_test_testdb
php_censor_testdb_mysql_db_user_test:               php_censor_test_testdb
# php_censor_testdb_mysql_db_password_test: in secret.yml
php_censor_testdb_mysql_create_script_name_test:    create_test_ci_mysql_db_test
php_censor_testdb_mysql_drop_script_name_test:      drop_test_ci_mysql_db_test


### corpsee_site role

corpsee_site_mode:              *mode_reference
corpsee_site_php_version:       *php_version_reference
corpsee_site_user:              *user_reference
corpsee_site_group:             *group_reference
corpsee_site_localhost_user:    corpsee
corpsee_site_db_name:           corpsee_site
corpsee_site_db_user:           corpsee_site
# corpsee_site_db_password: in secret.yml
corpsee_site_db_dump_filename:  corpsee_site
corpsee_site_www_dir_filename:  public
corpsee_site_hostname:          corpsee.com
corpsee_site_dir_name:          corpsee_site
corpsee_site_cron_disabled:     yes
corpsee_site_version:           master
corpsee_site_cert_pem_path:     "/etc/letsencrypt/live/corpsee.com/fullchain.pem"
corpsee_site_cert_pem_key_path: "/etc/letsencrypt/live/corpsee.com/privkey.pem"
# corpsee_site_app_secret: in secret.yml
# corpsee_site_ga_tracking: in secret.yml


### corpsee_blog role

corpsee_blog_mode:              *mode_reference
corpsee_blog_user:              *user_reference
corpsee_blog_group:             *group_reference
corpsee_blog_localhost_user:    corpsee
corpsee_blog_hostname:          blog.corpsee.com
corpsee_blog_dir_name:          corpsee_blog
corpsee_blog_version:           master
corpsee_blog_cert_pem_path:     "/etc/letsencrypt/live/blog.corpsee.com/fullchain.pem"
corpsee_blog_cert_pem_key_path: "/etc/letsencrypt/live/blog.corpsee.com/privkey.pem"


### php_censor_site role

php_censor_site_mode:              *mode_reference
php_censor_site_php_version:       *php_version_reference
php_censor_site_hostname:          php-censor.info
php_censor_site_dir_name:          php_censor_site
php_censor_site_user:              *user_reference
php_censor_site_group:             *group_reference
php_censor_site_cert_pem_path:     '/etc/letsencrypt/live/php-censor.info/fullchain.pem'
php_censor_site_cert_pem_key_path: '/etc/letsencrypt/live/php-censor.info/privkey.pem'
