---

- name: Add PHP PPA repositories GPG key
  apt_key:
    id: "14AA40EC0831756756D7F66C4F4EA0AAE5267A6C"
    keyserver: "keyserver.ubuntu.com"
    keyring: "/usr/share/keyrings/php.gpg"
    state: present

- name: Add PHP PPA repository
  apt_repository:
    repo: "deb [arch=amd64 signed-by=/usr/share/keyrings/php.gpg] https://ppa.launchpadcontent.net/ondrej/php/ubuntu {{ ansible_distribution_release }} main"
    filename: php
    update_cache: yes

- name: Install PHP
  apt:
    name: "{{ item }}"
    state: latest
  loop:
    - "php{{ php_version }}-cli"
    - "php{{ php_version }}-fpm"

- name: Upgrade server packages
  apt:
    upgrade: yes
    update_cache: yes
    cache_valid_time: 3600
  changed_when: no
  when:         php_packages is defined and php_packages | length > 0

- name: Install PHP packages
  apt:
    name: "php{{ php_version }}-{{ item }}"
    state: latest
  loop: "{{ php_packages | default([]) }}"

- name: Save origin PHP configs
  command:
    cmd: mv -fv "/etc/php/{{ php_version }}/{{ item }}/php.ini" "/etc/php/{{ php_version }}/{{ item }}/php.ini-origin"
    creates: "/etc/php/{{ php_version }}/{{ item }}/php.ini-origin"
  loop:
    - "cli"
    - "fpm"

- name: Save origin PHP-FPM config
  command:
    cmd: mv -fv "/etc/php/{{ php_version }}/fpm/php-fpm.conf" "/etc/php/{{ php_version }}/fpm/php-fpm.conf-origin"
    creates: "/etc/php/{{ php_version }}/fpm/php-fpm.conf-origin"

- name: Save origin PHP-FPM www config
  command:
    cmd: mv -fv "/etc/php/{{ php_version }}/fpm/pool.d/www.conf" "/etc/php/{{ php_version }}/fpm/pool.d/www.conf-origin"
    creates: "/etc/php/{{ php_version }}/fpm/pool.d/www.conf-origin"

- name: Set PHP configs
  template:
    src: "{{ php_version }}/{{ item }}/php.{{ php_mode }}.ini"
    dest: "/etc/php/{{ php_version }}/{{ item }}/php.ini"
  notify: Restart PHP-FPM
  loop:
    - "cli"
    - "fpm"

- name: Set PHP-FPM config
  template:
    src: "{{ php_version }}/fpm/php-fpm.{{ php_mode }}.conf"
    dest: "/etc/php/{{ php_version }}/fpm/php-fpm.conf"

- name: Set PHP-FPM www config
  template:
    src: "{{ php_version }}/fpm/pool.d/www.{{ php_mode }}.conf"
    dest: "/etc/php/{{ php_version }}/fpm/pool.d/www.conf"

- name: Create log directory
  file:
    path: "/var/log/php/{{ php_version }}"
    state: directory
    mode: "0755"
    owner: "{{ php_fpm_user }}"
    group: "{{ php_fpm_group }}"

- name: Clean /var/log/php-fpm.log
  file:
    path: "/var/log/php{{ php_version }}-fpm.log"
    state: absent

- name: Set PHP logrotate config
  template:
    src: "logrotate"
    dest: "/etc/logrotate.d/php{{ php_version }}"
