---

- name: Check if PHP Censor site directory is exists
  stat:
    path: "/var/www/{{ php_censor_site_dir_name }}/public"
  register: php_censor_site_directory

- name: EXIT BECAUSE ALREADY INIT
  meta: end_play
  when: php_censor_site_directory.stat.exists

- name: Set permissions for PHP Censor site public directory
  file:
    path: "/var/www/{{ php_censor_site_dir_name }}/public"
    owner: "{{ php_censor_site_user }}"
    group: "{{ php_censor_site_group }}"
    mode: "ug=rwX,o=rX"
    recurse: yes
    state: directory
  when: not php_censor_site_directory.stat.exists

- name: Create PHP Censor site index.php
  template:
    src: index.php
    dest: "/var/www/{{ php_censor_site_dir_name }}/public/index.php"
  when:     not php_censor_site_directory.stat.exists

- name: Set permissions for PHP Censor site directory
  file:
    path: "/var/www/{{ php_censor_site_dir_name }}"
    owner: "{{ php_censor_site_user }}"
    group: "{{ php_censor_site_group }}"
    mode: "ug=rwX,o=rX"
    recurse: yes
  when: not php_censor_site_directory.stat.exists

- name: Create PHP Censor site host
  template:
    src: "php_censor_site.{{ php_censor_site_mode }}.conf"
    dest: "/etc/nginx/sites-available/{{ php_censor_site_dir_name }}.conf"
  when: not php_censor_site_directory.stat.exists

- name:   Enable PHP Censor host
  file:
    src: "/etc/nginx/sites-available/{{ php_censor_site_dir_name }}.conf"
    dest: "/etc/nginx/sites-enabled/{{ php_censor_site_dir_name }}.conf"
    state: link
  notify: Restart Nginx
  when:   not php_censor_site_directory.stat.exists
