---

### references

user_reference:                &user_reference        "corpsee"
group_reference:               &group_reference       "corpsee"
mode_reference:                &mode_reference        "debug"
timezone_reference:            &timezone_reference    "Asia/Novosibirsk"
php_version_reference:         &php_version_reference "8.1"
php_default_version_reference: &php_default_version_reference "8.1"


### packages role

packages_ppa:
  - ppa:      "bartbes/love-stable"
    filename: "love"
    key:      61F881CBF3A87BDF74E398A4F192197F81992645
  - ppa:      "ansible/ansible"
    filename: "ansible"
    key:      6125E2A8C77F2818FB7BD15B93C4A3FD7BB9C367
  - ppa:      "graphics-drivers/ppa"
    filename: "nvidia"
    key:      2388FF3BE10A76F638F80723FCAE110B1118213C

packages_repositories:
  - repository: "deb [arch=amd64 signed-by=/usr/share/keyrings/yandex-disk.gpg] http://repo.yandex.ru/yandex-disk/deb/ stable main"
    filename:   "yandex-disk"
    keyserver:  keyserver.ubuntu.com
    key:        EFC4571D7C90E5AF

packages_items_to_install:
  - acl
  - net-tools
  - aptitude
  - apt-transport-https
  - ca-certificates
  - software-properties-common
  - sendmail
  - screen
  - logrotate
  - traceroute
  - resolvconf
  - curl
  - wget
  - jq
  - mc
  - htop
  - git
  - zsh
  - tmux
  - pv
  - ncdu
  - xz-utils
  - p7zip-full

  # For development
  - python3-pip
  - python3-virtualenv
  - pipx
  - ansible
  - anacron
  - beanstalkd
  - supervisor
  - redis-server
  - love
  - hugo
  - deluge
  - deluge-gtk

  - gnupg
  - sshpass
  - libnss3-tools # For local HTTPS: https://github.com/FiloSottile/mkcert

  # For mounting
  - sshfs
  - cifs-utils

  # For conky
  - conky-all
  - lm-sensors

  # For desktop
  - gparted
  - keepassx
  - yandex-disk
  - virtualbox-qt
  - smplayer
  - smplayer-themes
  - filezilla
  - flameshot
  - gthumb
  - parcellite

  - earlyoom

  # For vagrant
  - nfs-common
  - nfs-kernel-server

  - nodejs
  - npm

  - python3-passlib # For ansible


packages_items_to_remove:
  - hexchat
  - transmission
  - transmission-qt
  - transmission-gtk
  - thunderbird

packages_snap_items_to_install: []

packages_flatpak_items_to_install:
  - org.mozilla.Thunderbird
  - org.telegram.desktop
  - us.zoom.Zoom
  - org.nickvision.tubeconverter
  - org.nickvision.tagger
  - org.nickvision.money
  - md.obsidian.Obsidian
  - com.getpostman.Postman
  - org.blender.Blender
  - rest.insomnia.Insomnia
  - com.rtosta.zapzap
  - org.localsend.localsend_app
  - com.github.artemanufrij.regextester
  - me.iepure.devtoolbox

packages_pipx_items_to_install:
    - ansible-lint
    - yamllint
    - github-backup


### oh-my-zsh role

oh_my_zsh_user:  *user_reference
oh_my_zsh_group: *group_reference


### desktop role

desktop_user: *user_reference


### nginx role

nginx_mode:  *mode_reference
nginx_user:  *user_reference
nginx_group: *group_reference


### php role

php_mode:            *mode_reference
php_timezone:        *timezone_reference
php_version:         *php_version_reference
php_memory:          -1
php_fpm_user:        *user_reference
php_fpm_group:       *group_reference
php_packages:
  - bcmath
  - mbstring
  - curl
  - gd
  - imagick
  - xml
  - zip
  - intl
  - sqlite3
  - xdebug
  - soap
  - imap
  - pgsql
  - mysql
  - redis
  - amqp
  - memcache
  - memcached
  - ldap


### php_default role

php_default_version: *php_default_version_reference


### golang role

golang_version: "1.22"
golang_default: yes


### composer role

composer_path: /usr/local/bin/composer


### postgresql role

postgresql_version:  14
postgresql_timezone: *timezone_reference


### postgresql_desktop role

postgresql_desktop_user:  *user_reference
postgresql_desktop_group: *group_reference


### mariadb role

mariadb_version:       "10.11" # 10.11 - LTS version to 16 feb 2028. See: https://endoflife.date/mariadb
mariadb_root_password: root
mariadb_timezone:      *timezone_reference


### docker role

docker_user: *user_reference
